@charset "UTF-8";
/* ============================================================ BASE STYLE EDIT BLOCK ============================================================ */

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    color: rgb(39, 37, 31);
    line-height: 1.125rem;
    font-family:
        Swiss,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        Helvetica Neue,
        sans-serif;
    font-size: 0.875rem;
}

input,
button,
textarea {
    font-family: "Pan Display", sans-serif;
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
    outline-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

body.lock {
    height: 100vh;
    overflow-y: hidden;
}

p {
    font-family: "Pan Display", sans-serif;
    font-size: 18px;
    margin: 0;
}

ol {
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    padding-left: 0;
}

/* ============================================================ MAIN STYLING BLOCK ============================================================ */

.cover {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
    padding: 1rem 1.5rem;
}

.banner-top {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #67645e;
    background-color: #f1f0ed;
    text-transform: uppercase;

    min-height: 2.5rem;
    border-radius: 0.625rem;
    padding: 0.625rem 0.9375rem;

    font-size: 0.75rem;
    font-weight: 700;
}

.header {
    z-index: 10;
    top: 1rem;
    transform: translateY(0);
    color: #67645e;
    width: 100%;
    margin: 1.5vw 0;
    background-color: #f1f0ed;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.header nav {
    position: relative;
    display: flex;
    padding: 1.25rem min(2rem, 3vw);
    transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-left {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.nav__button {
    margin-right: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.logo {
    width: 100%;
    text-align: center;
}

.logo svg {
    width: 100%;
    height: calc(26px + 0.5vw);
}

.nav-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.nav-right .nav__button {
    margin-right: 0;
    margin-left: 3rem;
}

.hero {
    display: flex;
    width: 100%;
    gap: 2rem;
}

.swiper {
    width: 100%;
}

.hero,
.swiper {
    min-height: 75vh;
    transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: initial !important;
    bottom: 3.5rem !important;
    left: 1.5rem !important;
}

.swiper-slide img {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
}

.swiper-pagination-bullet {
    width: 45px;
    height: 35px;
    background: none; /* Remove default background */
    opacity: 1; /* Remove default opacity effect */
}

.swiper-pagination-bullet img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the bullet space */
    border-radius: 0.5rem; /* Make it round if needed */
    opacity: 0.5; /* Set opacity to 50% for non-active bullets */
}

.swiper-pagination-bullet-active img {
    opacity: 1;
}

.hero__element {
    border-radius: 15px;
    background-color: #edecebcc;
}

.product {
    padding: 1rem 1.5rem;
    width: 85%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product__header {
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 700;
    color: #67645e;
}

.product__subheader {
    display: flex;
    justify-content: space-between;
    font-size: max(0.8rem, 1.25vw);
    line-height: 150%;
    letter-spacing: 0.02em;

    width: 100%;
    color: #67645e;
    padding: 1rem 0;
    font-weight: 700;
}

.product__subheader-text {
    text-transform: uppercase;
}

.product__description {
    font-size: max(0.8rem, 1.25vw);
    line-height: 150%;
    letter-spacing: 0.01em;
    font-weight: 600;
    color: #67645e;
    padding-bottom: 2rem;
    border-bottom: 1px solid #c4c4c4;
}

.stars-inactive {
    width: 68px;
    float: left;
    height: 14px;
    background: url("../img/stars/star.png") repeat-x;
    background-size: 14.5px 14px;
    margin-bottom: 15px;
    position: relative;
}

.stars-active {
    width: 100%;
    float: left;
    height: 14px;
    background: url("../img/stars/star-acive.png") repeat-x;
    background-size: 14.5px 14px;
}

.starbox__container {
    align-self: auto;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    max-width: none;
    padding: 0;
    align-items: center;

    display: flex;
    gap: 5px;
}

.stars {
    display: inline-block;
    height: 15.6px;
    position: relative;
    /* width: 100%; */
}

.star {
    height: 17px;
    line-height: 17px;
    transform: rotate(0);
    width: 16.12px;
}

.product__selection {
    width: 100%;
    padding-top: 22px;
    position: relative;
}

.selection__title {
    border-bottom: 1px solid #6d6e70;
    display: inline-flex;
    align-items: center;
    line-height: 135%;
    font-size: max(0.8rem, 1.125vw);
    position: relative;
    cursor: pointer;
}

.selection__title svg {
    margin-left: 7px;
}

.selection__text {
    font-size: max(0.8rem, 1.125vw);
    color: #67645e;
    font-weight: 400;
}

.product__switches {
    display: flex;
    margin: 0.935rem 0 1.5rem;
}
.product__switch {
    width: 1.875rem;
    min-width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    margin-right: 0.75rem;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 0.5px solid;
}
.product__switch[data-selected="true"]::after {
    content: "";
    position: absolute;
    width: 125%;
    height: 125%;
    left: 50%;
    border: 1px solid #67645e;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.product__switches-popup-header {
    border-radius: 50%;
    background: #84827e;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
    transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
    min-width: 1.125rem;
    margin-left: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.product__switches-popup-image {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.5px solid #67645e;
    border-radius: 50%;
}
.product__switches-popup-container-info {
    font-size: max(0.8rem, 1.125vw);
}

.product__switches-popup {
    max-height: 0;
    visibility: hidden;
    position: absolute;
    width: calc(100% - 3.5rem);
    background-color: #f1f0edcc;
    filter: drop-shadow(0px 4px 52px rgba(0, 0, 0, 0.18));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    z-index: 12;
    left: 1.75rem;
    transform: translateY(-1px);
    font-size: 14.5px;
    transition: all 0.7s cubic-bezier(0.76, 0, 0.24, 1);
}

.product__switches-popup-active {
    max-height: 280px;

    opacity: 1 !important;
    visibility: visible;
}

.product__switches-popup ul {
    list-style: none;
    margin: 0;
    max-height: 280px;
    overflow-y: auto;
}

.product__switches-popup li:hover,
.product__switches-popup li[data-selected="true"] {
    background-color: #fffffeb3;
}

.product__switches-popup li {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.625rem 0 0.625rem 0.75rem;
    transition: all 0.3s ease-in-out;
}

.product__price {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.product__price-old {
    font-size: 1.2rem;
    font-weight: 700;
    color: red;
    text-decoration: line-through;
}

.product__price-new {
    font-size: 2rem;
    font-weight: 700;
    color: #67645e;
}

.product__buy-button {
    background-color: #ffffff;
    color: #67645e;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    box-shadow: inset 0 0 0 1px var(--base-color);
    line-height: 150%;
    letter-spacing: 0.02em;

    border: 1px solid #67645e;

    font-size: max(0.875rem + 0.2vw, 0.925vw) !important;
    font-weight: 600;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.8rem 1.9rem 0.7rem;
    border-radius: 40px;
    text-decoration: none;
    position: relative;
}
.product__buy-button b {
    transition: none;
}

.product__buy-button:hover {
    background-color: #67645e;
    color: #fff;
}

.reviews__block {
    padding: 3.75vw 7.5vw 2vw;
    margin-top: 2rem;
    max-width: 100% !important;
    border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #f1f0ed;
    color: #67645e;
}

.starbox__container-reviews {
    font-size: 1.5rem;
    font-weight: 600;
}

.stars-reviews {
    height: 21px;
}

.stars-inactive-reviews {
    height: 21px;
    width: 102px;
    background-size: 21.5px 21px;
}

.stars-active-reviews {
    height: 21px;
    background-size: 21.5px 21px;
}

.reviews__text-upper {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.reviews__text-lower {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
}

.reviews__header {
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 1px solid #c4c4c4;
}

/* comments */

.comment {
    display: flex;
    margin-top: 15px;
    padding-bottom: 25px;
    border-bottom: 1px solid #c4c4c4;
    gap: 10px;
}

.comment__starbox-time {
    text-overflow: ellipsis;
}

.comment__starbox {
    justify-content: space-between;
}

.comment .comment__header {
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
}

.comment__text {
    line-height: 26px;
    font-size: 1rem;
}

.comment__info-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.comment__info-additional {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 260px;
}

.comment__additional-text {
    color: #525252;
    font-weight: 400;
}
.comment__additional-text img {
    height: 19px;
}

.stars-comment {
    height: 20px;
}

.stars-inactive-comment {
    height: 20px;
    background-size: 20.5px 20px;
    width: 103px;
}

.stars-active-comment {
    height: 20px;
    background-size: 20.5px 20px;
}
.comment__images-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}

.comment__images-wrapper img {
    height: 200px;
    max-width: 50%;
}

/* footer */

.footer {
    background-color: #f1f0ed;
    color: #525252;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 7.5vw;
    border-bottom: 1px solid #c4c4c4;
}
.footer__logo {
    padding-bottom: 10px;
    border-bottom: 1px solid #c4c4c4;
}

.footer__logo svg {
    width: 75%;
    height: auto;
}

.footer__info-header {
    text-transform: uppercase;
    font-weight: 600;
}

.footer__info-text b {
    color: #525252;
}

.footer__copyright {
    text-align: center;
    padding: 1.5rem 0;
}

.swiper-scrollbar {
    display: none;
}

.burger {
    display: none;
    width: 100%;
}

.nav-right-mobile {
    display: none;
    color: #67645e;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;
}

.search__icon {
    width: 1.07625rem;
    height: 1.158125rem;
    color: #67645e;
}

.cart-icon {
    width: 1.3125rem;
    height: 1.1875rem;
    position: relative;
}

.cart__text {
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 150%;
    position: absolute;
    left: 0.61rem;
    top: -0.375rem;
}

/* Adaptation */

@media (max-width: 768px) {
    .nav-right,
    .nav-left {
        display: none;
    }

    .hero {
        flex-wrap: wrap;
    }

    .product {
        width: 100%;
    }

    .hero__swiper {
        min-height: 55vh;
    }
    .swiper-scrollbar {
        display: block;
    }
    .swiper-pagination {
        display: none;
    }
    .comment__images-wrapper img {
        max-width: 100%;
        object-fit: contain;
    }
    .product__subheader {
        flex-direction: column;
    }

    .comment {
        flex-direction: column-reverse;
    }

    .nav-right-mobile {
        display: flex;
    }

    .burger {
        display: flex;
    }
}

/***notify.css***/
.notifications {
    position: fixed;
    top: 1.5%;
    right: 1%;
    max-width: 340px;
    z-index: 2000;
    overflow: hidden;
}
.notifications__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.notifications__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e2dede;
    padding: 6px 0px;
    margin-top: 5px;
}
.notifications__item__img {
    max-width: 53px;
    margin: 0 2px 0 6px;
}
.notifications__item__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.notifications__item__content {
    padding: 0 5px;
}
.notifications__item__content__header {
    font-size: 11px;
}
.notifications__item-name {
    font-weight: bold;
}
.notifications__item-address {
    text-decoration: underline;
}
.notifications__item__content__desc {
    font-size: 16px;
    font-weight: 500;
    color: #134094;
}
.notifications__item__content__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.notifications__item__time {
    font-size: 13px;
}
.notifications__item__icons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    width: 15px;
    height: 15px;
}
.notifications__item__icons img {
    position: absolute;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    -webkit-animation: checIn 3s cubic-bezier(1, -1.23, 0.49, 1.56);
    animation: checIn 3s cubic-bezier(1, -1.23, 0.49, 1.56);
}
.notifications__item__btn {
    margin: 0 10px 0 5px;
}
.notifications__item__btn-close {
    vertical-align: inherit;
}

.hiddenNoty {
    animation-name: hiddenNoty;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    -webkit-animation-name: hiddenNoty;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
}

.showNoty {
    animation-name: showNoty;
    animation-duration: 2s;
    animation-timing-function: linear;
    -webkit-animation-name: showNoty;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes checIn {
    0% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
}

@keyframes checIn {
    0% {
        top: 50px;
    }
    100% {
        top: 0px;
    }
}
@-webkit-keyframes hiddenNoty {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@keyframes hiddenNoty {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes showNoty {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes showNoty {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .comments_face .img-gift-box img {
        width: 300px;
    }
    .notifications {
        padding-left: 3px;
    }
    .notifications__item__content__desc {
        font-size: 14px;
    }
    .notifications__item__img {
        max-width: 40px;
        margin: 0 2px 0 4px;
    }
}
